name: Publish
on: [push, pull_request]

jobs:
    create-release:
        runs-on: ubuntu-latest
        outputs:
            UPLOAD_URL: ${{ steps.create_release.outputs.upload_url }}
        steps:
            - name: Get date format for release tag
              id: date
              run: echo "::set-output name=today::$(date +'%d.%m.%Y')"
            - name: Checkout
              uses: actions/checkout@v2
            - name: Create release
              id: create_release
              uses: actions/create-release@v1.1.0
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  tag_name: ${{ steps.date.outputs.today }}
                  release_name: "hkdl ${{ steps.date.outputs.today }}"
                  body: "hkdl has released another version.\n\nChangelog:\n-"
                  draft: false
                  prerelease: true
    build:
        needs: create-release
        strategy:
            fail-fast: false
            matrix:
                platform: [macos-latest, ubuntu-latest, windows-latest]
        runs-on: ${{ matrix.platform }}
        steps:
        - name: Checkout
          uses: actions/checkout@v2
        - name: Install Rust
          uses: actions-rs/toolchain@v1
          with:
              toolchain: stable
        - name: Setup cargo and build
          uses: actions-rs/cargo@v1
          id: cargo_build
          with:
              command: build
              args: --release --all-features
        - name: Upload release asset
          uses: actions/upload-release-asset@v1
          env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
              upload_url: ${{ needs.create-release.outputs.UPLOAD_URL }}
